h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:turquoise;
    margin-left: 46%;
}

body{
    background-color:#36454F;
}

label{
    display: block;
    padding: 5px;
    color: white;
    margin-left: 45%;
    font-size:20px;
}

button{
    color: turquoise;
    background: #36454F;
    padding: 10x;
    margin-left: 52%;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color:turquoise;
    margin-left: 45%px;
}

#greeter{
    font-size: 20px;
    margin-left: 43.5%;
}